
.credoTop{
    background-image: url(https://credobank.ge/app/uploads/2023/01/anabrebi-web-banner-2.png);
    background-size: cover ;
    background-repeat: no-repeat;
    height: 24vw;
    width: 100%;
    margin-top: 9.4rem;
    overflow: hidden;
    border-bottom-left-radius: 6em; 
}
.basic-list{
    padding: 0 11.3%;
}
.product-lists{
    display: flex;
    flex-wrap: wrap;
    
    font-size: 0.9em;
    justify-content: space-between;
    padding: 2em 0;
    letter-spacing: 0.5px;
}
.items{
    width: calc((100% - 8.125em)/5);
    background-color: white;
    padding-top: calc((100% - 8.125em)/5);
    position: relative;
    border-radius: 1.2em;
    box-sizing: border-box;
    cursor: pointer;
    
    
    .little-img{
        position: absolute;
        min-height: 3.5em; 
        color: blue;
        
        top: 35%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-height: 4em;
        max-width: 4em;
    }
    
    
}
.description{ 

    position: absolute;
    top: calc(30% + 4em);
    width: 100%;
    padding: 0 1em;
    text-align: center;
    font-size: 1.1em;
    color: #00609c;
    margin-top: 1rem;
    letter-spacing: 0.6px;
    
 
    left: 50%;
    transform: translateX(-50%);
}
.items:hover {
    background: #ea4b37; 
    color: white;
    .description{
        color: white;
    }
    .little-img{
        filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
    }
}


//shared

.button{
    padding: 0.8em 1.8em;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    outline: none;
}
.white{
    background-color: white;
}


//carousel section
.ng-star-inserted{
    color: #db301a !important;
}
.carousel-dark{
    color: #db301a !important;
}

.parent-slide-credo{
    width: 100%;
    height: 28vw;
    padding: 0 13.5em;
    //padding: 0 11.3%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 4.1em 0;
}
/*
.special-offer-for-expats{
  
    
}
*/

.special-offer-basic-image{
    background-image: url(../../../../assets/HomeImage/special-offer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 1.2em 1.2em 0;
    width: calc(33.333% - 1.5em);
    height: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
}

.in-detail-special-offer-button{
    position: absolute;
    left: 2em;
    bottom: 1.8em;
    display: inline-block;
    transition-duration: 0.3s; 
    z-index: 1;
    background: white;
}

.in-details-spans{
    font-size: 1em;
    color: #db301a;
    letter-spacing: 0.7px;
    font-family: "BPG WEB 001", sans-serif;
}
.in-details-spans::after{
    content: '';
    background-image: url(../../../../assets/HomeImage/muqi.svg);
    background-size: cover ;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
}
.in-detail-special-offer-button:hover{
    background-color: #ea4b37;
    .in-details-spans{
        color: white;
        font-family: "BPG WEB 001", sans-serif;
    } 
}


//Carousel-section

.slide-button-text{
    color: white;

}

.carusel-parents{
    
    width: calc(68.4% - 1.5em) !important;
    height: 100%;
    
    border: 1px solid grey;
    border-radius:  1.2em 1.2em 0;
    overflow: hidden; 
}


.picsum-img-wrapper{
    cursor: pointer;
    
}
::ng-deep { .carousel-dark .carousel-indicators {
            margin-left: 5% !important;
            justify-content: flex-start;
            
        }
    }
    



.carousel-caption{
    position: relative;
    display: flex;
    width: calc(100% - 4rem);
    align-items: center;
    text-align: start;
    left: 2rem;
    right: 2rem;
    justify-content: space-between;
    overflow: hidden;
    top: calc(100% - 2px);
    padding: 2.7em 0;
    
}
/* */


//ვტოვებთ

.button-child-a{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.button-carusel:hover{
    background-color: #db301a;
}
/* Help */

.contact-section{
    background: #f2f2f2;
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.contact-title{
    position: relative;
    font-size: 1.35em;
    color: #00609c;
    line-height: 1.15em;
    width: 100%;
    padding: 0 30%;
    text-align: center;
    
}

.contact-title::before {
    content: '';
    position: absolute;
    width: 3em;
    height: 3px;
    bottom: -.8em;
    left: calc(50% - 1.5em);
    background: #ea4b37
    
    
}
.help-desc{
   
    width: 100%;
    padding: 0 21%;
    line-height: 1.4em;
    color: #575757;
    margin: 2.2em 0;
    text-align: center;
    font-size: 0.85em;
}

.button-container{
    display: flex;
    justify-content: space-around;
    gap: 2.5em;
    img{
        height: 1.5em;
        width: 1.5em;
    }
}
.help-button-child{
    display: flex;
    gap: 1rem;
    transition-duration: 0.3s; 
}
.help-span{
    color: #ea4b37;
}
.help-button-child:hover{
    background-color: #ea4b37;
    .help-span{
        color: white;
    }
    img{
        filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
    }
}


/* media room */

.news-section{
    margin-top: 3.75em;
    margin-bottom: 4.75em;
    padding: 0 13.5em;
    //padding: 0 11.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.news-container-left{
    width: calc(72% - 1.5em);
    
}

.media-room{
    margin-bottom: 1.15em;
    font-size: 1.25em;
    color: #00609c;
    line-height: 1.2;
}

.left-side{
    min-height: 21.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.left-content{
    width: 52%;
    border-radius: 1.2em 0 0 1.2em;
    border: 2px solid #d8d8d8;
    border-right: none;
    
    padding: 1.8em 1.9em 1.5em;
}

.media-text1{ 
    color: #00609c !important;
    margin: 1.1em 0 1.15em;
    line-height: 1.4em;
    display: block;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.5px;
}

.button-content{
    margin-top: 1.6em;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.5px;

}

.button-red{
    background: #ea4b37;
    display:flex;
}
.button-red:hover{
    background: #db301a;
}
.in-detail::after{
    content: '';
    background-image: url(../../../../assets/HomeImage/white-arrow.svg);
    background-size: cover ;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
}
.news-button{
    background: white;
    display:flex;
    margin-left: 1.7em;
}
.news-button:hover{
    background: #ea4b37;
    .all-news{
        color: white;
    }
}
.all-news{
    color: #7a7a7a;
    letter-spacing: 0.4px;
    font-size: 0.9em;
    
}
.all-news::after{
    content: '';
    background-image: url(../../../../assets/HomeImage/grey-right-arrow.svg);
    background-size: cover ;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 0.9em;
    vertical-align: middle;
    
}



.in-detail{
    font-size: 0.9em;
    color: white;
}

.button-text2{
   
    color: #7a7a7a;
    margin-right: 0.7em;
    
}

.photo-container{
    background-image: url(https://credobank.ge/app/uploads/2023/07/GEO-490x400-1.png);
    width: 48%;
    border-radius: 0 1.2em 0 0;
    overflow: hidden;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  
    position: relative;
    
}
.credo-image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.15);
}

.news-container-right{
    width: calc(28% - 1.5em);
}

.currency-container{
    height: 21.2em;
    border-radius: 1.2em 1.2em 0;
    overflow: hidden;
    background: #f2f2f2;
}
.dropdown-box-home{
    background: #00609c;
    width: 100%;
    height: 3.9em;
    align-items: center;
    padding-left: 1.6em;
}


//dropdown

.menu-container{
    width: 100%;
    border-radius: 2em;
    background: #d3d3d3;
    display: inline-block;
    position: relative;
}

.menu-toggler{
    height: 4em;
    display: flex;
    align-items: center;
    background:  #00609c;
    border-radius: 1.2em 1.2em 0 0;
    cursor: pointer;
    color: white;
    //justify-content: space-around;
    position: relative;
    
}
.credo-course{
    display: flex;
    align-items: center;
    font-size: 0.95em;
    padding-left: 1.2em;
}
.credo-course::after {
    content: '';
    background-image: url(../../../../assets/HomeImage/arrow/arrow-down.svg);
    display: inline-block;
    padding: 0;
    background-size: cover ;
    background-repeat: no-repeat;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0.7rem;
    
}


.menu{
    width: 100%;
    background: #d3d3d3;
    border-radius: 0 0 2em 2em;
    position: absolute;
    padding: 0.500em 1.6em 1em;
}
.menu-item{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.dropdown-a{
    cursor: pointer;
    color: #747474;
}
.dropdown-a:hover{
    color: #ea4b37;
}


.chraxo-parent{
    padding: 1.1em 1.6em 0;
}
.chraxo{
    display: flex;
    margin-bottom: 1rem;
    padding-left: 0;
    color: #9f9f9f;
    & > :nth-child(1){
        width: 34%;
    }
    & > :nth-child(2){
        width: 29%;
    }
    & > :nth-child(3){
        width: 25%;
    }
}

.currency-item{
 display: flex;
 //flex-wrap: wrap;
 flex-direction: column;
}


.country-img {
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 0.5em;
}


//shared content

.flex{
    display: flex;
    flex-wrap: wrap;
}



.money{
   
    color: #4e4e4e;
    font-size: 1em;
    align-items: center;
    margin-bottom: 1.5rem;
}
.course{
    width: 29%;
}
.third-column{
    width: 25%;
}
.money-percentage{
    width: 34%;
    align-items: center;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: #4e4e4e;
}

.all-money{
    
    padding-top: 0.7rem;
    
    font-family: "BPG WEB 001", sans-serif;
    color: #7a7a7a !important;
    cursor: pointer;
}
.all-money:hover{
        color: #ea4b37 !important; 
   .money-icon{
    filter: invert(40%) sepia(65%) saturate(1042%) hue-rotate(329deg) brightness(91%) contrast(102%);
   }
}

.money-icon{
    height: 11px;
    width: 11px;
    margin-left: 1rem;
    cursor: pointer;
    filter: invert(48%) sepia(7%) saturate(19%) hue-rotate(345deg) brightness(97%) contrast(84%);
}



.col{
    color: #00609c;
}

.heigh{
   height: calc(27vw - 8.25em);
}


@media screen and (max-width: 1800px) {
    .basic-list{
        padding: 0 10em;
    }
    .parent-slide-credo{
        padding: 0 10em;
    }
    .news-section{
        padding: 0 10em;
    }
}





@media screen and (max-width: 1600px) {
    .left-side{
        height: 17.5em;
    }
    .news-container-right{
        height: 17.5em;
    }
    .currency-container{
        min-height: 17.5em;
    }
    .basic-list{
        padding: 0 7.125em;
    }
    .parent-slide-credo{
        padding: 0 7.125em;
    }
    .news-section{
        padding: 0 7.125em;
    }
    .credo-course{
        font-size: 0.8em;
    }
}


@media screen and (max-width: 1460px) {
    .left-content{
        padding: 1.5em 1.6em 0;
    }
    .left-side{
        min-height: 17em;
    }
    .currency-container{
        height: 17em;
    }
    .news-container-right{
        min-height: 17em;
    }
    .chraxo-parent{
        padding: 0.9em 1.6em 0;
    }
    
    .country-img{
        width: 1.5rem;
    }

    .credoTop{
        margin-top: 8.4em;
    }
    .basic-list{
        padding: 0 7.125em;
    }
    .parent-slide-credo{
        padding: 0 7.125em;
    }
    .news-section{
        padding: 0 7.125em;
    }

    .credo-course{
        font-size: 0.8em;
    }
    .media-room{
        font-size: 1.1em;
    }
    
    
    time{
        font-size: 0.9em;
    }
    
    .money{
        margin-bottom: 0.5em;
        font-size: 1em;
    }
    .dropdown-a{
        font-size: 0.9em ;
    }
    .news-container-right{
        width: calc(29% - 1.5em);
    }
    .button{
        padding: 0.8em 1.5em;
    }
    .news-button{
        margin-left: 1em;
    }
}  


@media screen and (max-width: 1200px) {
    .credoTop{
        margin-top: 3.5em;
    }

    .basic-list{
        padding: 0 3%;
    }
    .description{
        letter-spacing: 0.5px;
        font-size: 1em;
        top: calc(20% + 4em);
    }
    
    .basic-list{
        padding: 0 2em;
    }
    
    .parent-slide-credo{
        padding: 0 2em;
        height: 36vw;
        
    }
    .col{
        font-size: 1em;
        height: 2em !important;
        margin-bottom: 1rem;
    }
    .heigh{
        height: calc(35vw - 6.25em);
     }
     .d-flex{
        display: block !important;
        padding-top: 3em;
     }
     ::ng-deep { .carousel-dark .carousel-indicators {
        margin-bottom: -2px !important;
        margin-left: 4% !important;
     }
    }
     .carousel-dark{
        bottom: 2em !important;
        
     }
     .carousel-indicators{
        padding-bottom: 0;
        
     }
     .carousel-caption{
        padding: 2.5em 0 0 0;
     }
    .button-red{
        display: inline-block;
    }
    .button{
        padding: 0.5em 1em;
    }
     .news-section{
        padding: 0 2em;
     }
     .news-container-left{
        width: calc(70% - 1em);
        min-height: 18em;
     }

    .button-text-2{
        font-size: 0.7em;
        letter-spacing: 3px;
    }
    
    .credo-course{
        font-size: 0.72em;
    }
    .menu-toggler{
        height: 3.5em;
    }
    .news-container-right{
        width: calc(30% - 1em);
    }
    .media-room{
        font-size: 1.1em;
    }
    .chraxo{
        font-size: 0.8em;
    }
    .dropdown-a {
        font-size: 0.8em;
    }
    .country {
        font-size: 0.8em;
    }
    .course {
        font-size: 0.8em;
    }
    .country-img {
        width: 1.6rem;
        height: 1.6rem;
    }
    .span-money{
        font-size: 0.9em;
    }
    .currency-container{
        height: 18em;
    }
    .left-side{
        min-height: 18em;
        flex-wrap: nowrap;
    }
    .left-content{
        width: 56%;
        padding: 1.2em 1.4em 0;
        border: 1px solid #d8d8d8;
    }
    .money{
        margin-bottom: 1em;
    }
   
    .news-button{
        margin-left: 0.2em;
    }
    .media-text1{
        letter-spacing: 0.3px;
    }
    
}



@media screen and (max-width: 970px) {
    .photo-container{
        display: none;
    }
    .left-content{
        border-radius: 1.2em 1.2em 0 1.2em;
    }
    .news-container-left{
        width: calc(60% - 1em);
    }
    .left-content{
        width: 100%;
    }
    .news-container-right{
        width: calc(40% - 1em);
    }
}




@media screen and (max-width: 760px) {
    .basic-list{
        display: none;
    }
    .credoTop{
        min-height: 50vw;
        height: auto;
        border-bottom-left-radius: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;   
    }
    .carusel-parents{
        width: 100% !important;
        height: 100vw;
    }
   
    .parent-slide-credo{
        display: flex;
        flex-wrap: wrap;
        padding: 0 1em;
        height: auto;
        margin: 4em 0 2em 0 ;
    }
    .special-offer-for-expats{
        width: 100%;
        height: 100vw;
        margin-bottom: 1.5em;
        
    }
    .special-offer-basic-image{
        width: 100%;
        height: 100vw;
        margin-bottom: 1.5em;
        
    }
    
    .news-section{
        display: block;
        padding: 0 1em;
    }
    .news-container-left{
        width: 100%;
    }
    .news-container-right{
        width: 100%;
        
    }
    .media-room{
        margin-top: 2rem;
    }
    
    .left-side{
        width: 100%;
        display: grid;
        justify-content: inherit;
        height: auto;
    }
    .left-content{
        width: 100%;
        order: 2;
        border: none;
       
    }
    .photo-container{
        width: 100%;
        border-radius: 1.2em 1.2em 0 0;
        order: 1;
        padding-bottom: 50%;
    }
    .credo-image{
        display: inline-block;
    }
    
    .help-desc{
        display: none;
    }
    .contact-title{
        font-size: 1em;
        padding: 0 1em;
        margin-bottom: 2em;
    }
    .button-container{
        display: grid;
        row-gap:  1em;
        justify-content: stretch;
    }
    .contact-section{
        width: 100%;
    }
    .help-button{
        width: 100%;
       
    }
    .button-container{
        width: 100%;
        display: grid;
        margin: auto;
    }
    .help-button-child{
        display: flex;
        justify-content: center;
    }
    
    .heigh{
        height: calc(100vw - 8.25em);
     }
     .d-flex{
        & > a {
            display: none;
        }
     }
     ::ng-deep { .carousel-dark .carousel-indicators {
            margin-bottom: -2.5em !important;
            & > .ng-star-inserted {
                width: 10px;
                color: #ea4b37 !important;
            }
        }
    }

    .col{
        font-size: 0.9em;
        height: 4em !important;
       
    }
    .carousel-caption{
        left: 1em;
        right: 1em;
    }
}