<div class="basic">
    <div class="credoTop"></div>





  <ng-container *ngIf="(productSection$ | async  ) as productSection">
    <div class="basic-list">
        <div class="product-lists">
          <ng-container  *ngFor="let items of productSection.productData">
            <a routerLink="{{items.link}}" class="items" >   
              <img class="little-img" src="{{items.img}}" alt="image">
              <h3 class="description">{{items.description}}</h3>
            </a>
      </ng-container>
        </div>
    </div>
  </ng-container>






    <div class="parent-slide-credo">

        <a class="special-offer-basic-image  " >
            <div class=" in-detail-special-offer-button button ">
              <span class="in-details-spans ">ვრცლად</span>
            </div>
        </a>

      <!--carousel-->

      <div class="carusel-parents">
      
        <c-carousel [dark]="true"  [interval]="45000">
          <c-carousel-indicators ></c-carousel-indicators>
            <c-carousel-inner>
              <c-carousel-item *ngFor="let slide of slides">
                <img
                  alt="{{slide.title}}"
                  class="d-block w-100 heigh"
                  loading="lazy"
                  src="{{slide.src}}"
                />
                <c-carousel-caption class="d-flex ">
                  <h5 class="col">{{slide.subtitle}}</h5>
                    
                      <a class="button-red button ">
                        <span class="in-detail">{{slide.title}}</span>
                      </a>
                      
                    
                </c-carousel-caption>
              </c-carousel-item>
            </c-carousel-inner>
        </c-carousel>
    </div>


      



    </div>

    <ng-container>
    <div class="contact-section">
      <h3 class="contact-title">გესაჭიროებათ დახმარება? დაგვირეკეთ *4242 ან მოგვწერეთ ნებისმიერ დროს </h3>
      <div class="help-desc">
        მოგვმართეთ თქვენთვის მოსახერხებელი გზით - დაგვიკავშირდით ცხელი ხაზის ნომერზე - (+995 32) 242 42 42,
        მოგვწერეთ ონლაინ ჩატში ან დაგვიტოვეთ თქვენი საკონტაქტო ნომერი და ჩვენ თავად დაგიკავშირდებით.
      </div>
      <div class="button-container">
          <div class="help-button">
            <a class="help-button-child button white">
              <img src="assets/HomeImage/temporary/location-orangre.png" alt="">
              <span class="help-span">მისამართები</span>
            </a>
          </div>
          <div class="help-button">
            <a class="help-button-child button white">
              <img src="../../../../assets/HomeImage/temporary/მოგვწერეთ.png" alt="">
              <span class="help-span">მოგვწერეთ</span>
            </a>
          </div>
          <div class="help-button">
            <a class="help-button-child button white">
              <img src="../../../../assets/HomeImage/temporary/დაგვიტოვეთ ნომერი.png" alt="">
              <span class="help-span">დაგვიტოვეთ ნომერი</span>
            </a>
          </div>
      </div>
    </div>
    </ng-container>





    <div class="news-section">
      <div class="news-container-left">
        <h3 class="media-room">მედია ოთახი</h3>

        <div class="left-side">
          <div class="left-content">
            <time>11.10.2023</time>
              <a class="media-text1">კრედო ბანკის ახალი სერვისცენტრი <br> თბილისში, ვაზისუბანში ჯუმბერ ლეჟავას #1-ში გაიხსნა!
              </a>

          <div class="button-content">

              <a class="button-red button">
              <span class="in-detail">ვრცლად</span>
              </a>
        
              <a class="news-button button">
              <span class="all-news">ყველა სიახლე</span>
              </a>
          </div>

        </div>
        <div class="photo-container">
          <div class="credo-image"></div>
        </div>
      </div>
        
    
    </div>


  <div class="news-container-right">
      <h3 class="media-room">ვალუტის კურსი</h3>
    <div class="currency-container">

    
    <div class="menu-container">
      <div class="menu-toggler" (click)="toggleMenu()" >
        <span class="credo-course">კრედო ბანკის კომერციული კურსი</span>
      </div>
      <div class="menu" *ngIf="isMenuOpened">
          <div class="menu-item">
              <a > 
                  <span class="dropdown-a">ინტერნეტ ბანკის და გზავნილის კურსი</span>
              </a>
          </div>
          <div class="menu-item">
              <a >
                  <span class="dropdown-a">ავტომატური ოპერაციების კურსი</span>
              </a>
          </div>
          <div class="menu-item">
            <a >
                  <span class="dropdown-a">ეროვნული ბანკის კურსი</span>
            </a>
          </div>
      </div>
    </div>




    <div class="chraxo-parent">
      <ul class="chraxo">
        <li>ვალუტა</li>
        <li>ყიდვა</li>
        <li>გაყიდვა</li>
      </ul>

      <div class="currency-item">
        
            <div class="money flex">
              <div class="money-percentage flex">
                <img class="country-img" src="https://credobank.ge/app/themes/credo/dist/images/flags/USD_cbfe8d83.svg" alt="usa">
                <div class="country">USD</div>
              </div>  
              <div class="course">2.6030</div>  
              <div class="third-column">2.6230</div>
            </div>


            <div class="money flex">
              <div class="money-percentage flex">
                <img  class="country-img" src="https://credobank.ge/app/themes/credo/dist/images/flags/EUR_91f19dae.svg" alt="eur">
                <div class="country">EUR</div>
              </div>
              <div class=" course">2.8956</div>
              <div class="third-column">2.8343</div>
            </div>

            <div class="money flex">
              <div class="money-percentage flex">
                  <img  class="country-img" src="https://credobank.ge/app/themes/credo/dist/images/flags/RUB_658c4a37.svg" alt="eur">
                  <div class="country">RUB</div>
              </div>
                <div class="course">0.0229</div>  
                <div class="third-column">0.0331</div>

            </div>
          <div class="tests">
            <a class="all-money">
              <span class="span-money">ყველა ვალუტა</span>
              <img class="money-icon" src="../../../../assets/rihgth.svg" alt="right arrow">
            </a>
          </div>    
      </div>

    </div>



  </div>















  